@import '../../../variables';
@import '../../../styles/media';

.cards {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem 1rem 4rem 1rem;
  background-color: black;
  margin: 0 auto;
  @include media(mobile) {
    display: flex;
    margin-left: -3rem;
  }

  .cardMovies {
    display: flex;
    background-color: black;
    @include media(mobile) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .movies {
      display: flex;
      position: relative;
      width: 50%;
      margin: 0 1rem 0 1rem;
      @include media(mobile) {
        margin: 1rem;
      }

      .youtube {
        display: none;
      }

      .youtube:active {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 1rem 1rem 4rem 1rem;
        background-color: red;
        margin: 0 auto;
        z-index: 1;
      }

      .movieBtn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: transparent;
        color: $gray;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
      }

      > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
