@import '../../../variables';

.cards {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem 1rem 4rem 1rem;
  background-color: black;
  margin: 0 auto;

  .cardMovies {
    display: flex;
    background-color: black;

    .movies {
      display: flex;
      position: relative;
      width: 50%;
      margin: 0 1rem 0 1rem;

      .youtube {
        display: none;
      }

      .movieBtn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: transparent;
        color: $gray;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
      }

      > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
