@import '../../../variables';
@import '../../../styles/media';

.sidebar {
  > button {
    background-color: #0f1011;
    border-color: transparent;
    border: none;
    color: $gray;
    font-size: 30px;
    margin-left: 3rem;
    margin-top: -6px;
    @include media(mobile) {
      display: inline-flex;
      font-size: 50px;
      margin-right: 11rem;
      margin-left: 6rem;
      margin-top: 0rem;
      padding-left: 18rem;
      cursor: pointer;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: none;
    animation: opacity 0.4s;

    &.show {
      display: block;
      @include media(mobile) {
        padding-left: 4rem;
      }
    }
    li {
      margin-bottom: 0.5rem;
      @include media(mobile) {
        margin-bottom: 0.5rem;
      }

      a {
        padding: 0.5rem;
        display: block;
        color: $gray;
        text-decoration: none;
        border-left: 2px solid transparent;
        font-size: 20px;
        text-align: right;
        @include media(mobile) {
          display: inline-flex;
          color: $gray;
          text-decoration: none;
          text-align: left;
          margin-right: 9rem;
          margin-left: 0;
          padding-left: 1rem;
          padding-right: 17rem;
          border-left: 5px solid transparent;
          white-space: nowrap;
        }

        &:hover,
        &.active {
          border-color: $red;
          background-color: #2a2a2c;
        }
      }
    }
  }
}
